<input type="text" id="PersonaID" value="@ViewBag.PersonaID">


<table class="table">
  <thead class="headTabla">
    <tr>
      <th>Eventos</th>
      <th>Lugar</th>
      <th>Tipo ejercicio</th>
      <th>Inicio</th>
      <th>Fin</th>
      <th>Al Iniciar</th>
      <th>Al finalizar</th>
      <th>Tiempo</th>
      <th>Observaciones</th>
    </tr>
  </thead>
  <tbody class="bodyTabla" id="tbody-informe4Niveles"></tbody>
</table>

@section Scripts {
  <script src="~/js/Informe4Niveles.js"></script>
}