
<link rel="stylesheet" href="~/css/ejerciciosFisicos.css">


<input type="text" id="PersonaID" value="@ViewBag.PersonaID">

<div class="row">
  <div class="col-md-3">
    <label for="BuscarInicioActividad" class="text-white form-label">Inicio de la actividad</label>
    <input type="datetime-local" id="BuscarInicioActividad" class="form-control" />
  </div>
  <div class="col-md-3">
    <label for="BuscarFinActividad" class="text-white form-label">Fin de la actividad</label>
    <input type="datetime-local" id="BuscarFinActividad" class="form-control" />
  </div>
</div>
<div class="mt-2 p-1">
  <button type="button" class="btn btn-primary" onclick="ListadoInformePorLugar()">
    Buscar
  </button>
</div>

<table class="table table-primary table-striped">
  <thead class="headTabla">
    <tr>
      <th>Lugar</th>
      <th>Inicio</th>
      <th>Fin</th>
      <th>Duracion</th>
      <th>Ejercicio realizado</th>
      <th>Observaciones</th>
    </tr>
  </thead>
  <tbody class="bodyTabla" id="tbody-ejerciciosPorLugar"></tbody>
</table>

@section Scripts {
  <script src="~/js/informePorLugar.js"></script>
}