@{
  ViewData["Title"] = "Tipo de Ejercicios";
}
<link rel="stylesheet" href="~/css/tipoEjercicios.css">



<h1 class="t-stroke1 t-shadow1">TIPO DE EJERCICIOS!</h1>


<!-- Button Modal -->
<div>
  <div class="mb-2">
    <button type="button" title="Click para Agregar un Ejercicio" class="buttonAdd" onclick="NuevoRegistro()"
      data-bs-toggle="modal" data-bs-target="#ModalTipoEjercicio">
      <span class="button-content">
        <i class="bi bi-plus-square iconosAddRefresh"></i> Agregar Registro
      </span>
    </button>
    <button type="button" title="Click para Refrescar la Tabla" onclick="ListadoTipoEjercicios()" class="buttonRefresh">
      <span class="button-content">
        <i class="bi bi-arrow-clockwise iconosAddRefresh"></i> Refrescar Tabla
      </span>
    </button>
  </div>
  <table class="table table-primary table-striped">
    <thead class="headTabla">
      <tr>
        <th>EJERCICIO</th>
        <th>MET</th>
        <th class="text-center" style="width: 70px;">EDITAR</th>
        <th class="text-center" style="width: 40px;">ELIMINAR</th>
      </tr>
    </thead>
    <tbody class="bodyTabla" id="tbody-tipoejercicios"></tbody>
  </table>
</div>



<!-- Modal -->
<div class="modal" id="ModalTipoEjercicio" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalTitulo"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <input type="hidden" id="TipoEjercicioID" value="0" />
            <label for="descripcion" class="form-label">DESCRIPCIÓN</label>
            <input type="text" class="form-control text-white" id="descripcion" placeholder="Nombre del tipo de actividad">
          </div>
          <div class="mb-3">
            <label for="MET" class="form-label">MET</label>
            <input type="text" class="form-control text-white" id="MET" placeholder="MET">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="LimpiarModal()" class="btn btn-outline-danger"
          data-bs-dismiss="modal">Cancelar</button>
        <button type="button" onclick="GuardarRegistro()" class="btn btn-outline-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>





@section Scripts {
  <script src="~/js/tipoejercicios-1.0.0.js"></script>
}
