@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css">



<h1 class="t-stroke t-shadow">WORKOUT WATCH!</h1>


<div class="row">
  <div class="col-12">
    <p class="intro">Bienvenido a Workout Watch! Tu guía personal para un estilo de vida más activo y saludable. Registra tus
    entrenamientos, sigue tu progreso y alcanza tus metas fitness con facilidad. Con Workout Watch!, cada paso cuenta.
    ¡Empieza hoy mismo y lleva tu entrenamiento al siguiente nivel!</p>
    <p class="intro2">"Cada día se hace más fácil, pero tienes que hacerlo todos los días, esa es la parte difícil"</p>
  </div>
</div>


<div class="div-btn">
  <button class="btn-login-home">
    <a asp-area="Identity" asp-page="/Account/Login">Iniciar sesión</a>
  </button>
  <button class="btn-register-home">
    <a  asp-area="Identity" asp-page="/Account/Register">Registrate!</a>
  </button>
</div>
