@{
  ViewData["Title"] = "Ejercicios Fisicos";
}

<link rel="stylesheet" href="~/css/ejerciciosFisicos.css">



<h1 class="t-stroke t-shadow">EJERCICIOS!</h1>

<div class="mb-2">
  <button type="button" title="Click para Agregar un Ejercicio Físico" class="buttonAdd"
    onclick="NuevoRegistro()" data-bs-toggle="modal" data-bs-target="#ModalEjercicioFisico">
    <span class="button-content">
      <i class="bi bi-plus-square iconosAddRefresh"></i> Agregar Registro
    </span>
  </button>
  <button type="button" title="Click para Agregar un Ejercicio Físico" class="buttonRefresh"
    onclick="ListadoEjerciciosFisicos()">
    <span class="button-content">
      <i class="bi bi-arrow-clockwise iconosAddRefresh"></i> Refrescar
    </span>
  </button>
</div>


<div class="modal fade" id="ModalEjercicioFisico" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalTitulo"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="FormEjercicioFisico">
          <input type="hidden" id="ejercicioFisicoID" value="0">
          <div class="dropdown">
            <label for="TipoEjercicioID">SELECCIONE EL TIPO DE EJERCICIO:</label>
            @Html.DropDownList("tipoEjercicioID", null, htmlAttributes: new { @class = "form-control" })
          </div>
          <div class="form-group">
            <label for="inicio">INICIO:</label>
            <div>
              <input type="datetime-local" class="calendario" id="inicio" name="inicio">
            </div>
          </div>
          <div class="form-group">
            <label for="fin">FIN:</label>
            <div>
              <input type="datetime-local" class="calendario" id="fin" name="fin">
            </div>
          </div>
          <div class="dropdown">
            <label for="estadoEmocionalInicio">Al iniciar:</label>
            <select class="form-select" id="estadoEmocionalInicio"></select>
            <label for="estadoEmocionalFin">Al finalizar:</label>
            <select class="form-select" id="estadoEmocionalFin"></select>
          </div>
          <div class="form-group">
            <textarea id="observaciones" placeholder="OBSERVACIONES" class="textArea" name="observaciones" rows="4"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="LimpiarModal()" class="btn btn-cancel btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" onclick="GuardarEjerciciosFisicos()" class="btn btn-save btn-outline-primary" data-bs-dismiss="modal">Guardar</button>
      </div>
    </div>
  </div>
</div>

<table class="table tablaTipoEjercicios">
  <thead class="headTabla">
    <tr>
      <th>EJERCICIO FÍSICO</th>
      <th>INICIO</th>
      <th>FIN</th>
      <th>ESTADO EMOCIONAL AL FINALIZAR</th>
      <th>ESTADO EMOCIONAL AL INICIAR</th>
      <th>OBSERVACIONES</th>
      <th>EDITAR</th>
      <th>ELIMINAR</th>
    </tr>
  </thead>
  <tbody class="bodyTabla" id="tbody-ejerciciosfisicos"></tbody>
</table>

@section Scripts {
  <script src="~/js/ejerciciosfisicos-1.0.0.js"></script>
}
