@{
    ViewData["Title"] = "Ejercicios Fisicos";
}

<div class="text-center">
    <h1 class="display-4">Ejercicios Fisicos</h1>
</div>



@section Scripts{
    <script src="~/js/ejerciciosfisicos-1.0.0.js"></script>
}
